<launch>
    <arg name="vehicle_name" default="bluerov" />
    <!-- Vehicle spawn position so that tags are seen -->
    <arg name="x" default="0.7" />
    <arg name="y" default="2.0" />
    <arg name="z" default="-0.7" />
    <arg name="P" default="0.0" />
    <arg name="R" default="0.0" />
    <arg name="Y" default="1.57" />
    <arg name="camera" default="false" />

    <include file="$(find bluerov_sim)/launch/gazebo_tags.launch" />

    <!-- spawn BlueROV model -->
    <group ns="$(arg vehicle_name)">
        <include file="$(find bluerov_sim)/launch/spawn_vehicle.launch">
            <arg name="camera" value="$(arg camera)" />
            <arg name="x" value="$(arg x)" />
            <arg name="y" value="$(arg y)" />
            <arg name="z" value="$(arg z)" />
            <arg name="R" default="$(arg R)" />
            <arg name="P" default="$(arg P)" />
            <arg name="Y" default="$(arg Y)" />
        </include>
    </group>
</launch>
