<launch>
    <arg name="gui" value="false"/>
    <arg name="vehicle_name" default="bluerov" />

    <!-- <include file="$(find bluerov_sim)/launch/gazebo_base.launch" />  -->

   <!-- Gazebo  -->
   <include file="$(find gazebo_ros)/launch/empty_world.launch" >
      <arg name="gui" value="false"/>
      <arg name="headless" value="false"/>
      <arg name="debug" value="false"/>
   </include>


    <include file="$(find multi_robot_scenario)/launch/bluerov2.gazebo.launch">
        <arg name="robot_name" value="ModelState" />
        <arg name="robot_position" value="-x 0.0 -y 0.0 -z 0 -R 0 -P 0 -Y +0.0" />
    </include>

    <node name="keyboard" pkg="bluerov_sim" type="keyboard_control.py" output="screen" />
    <node name="mixer" pkg="bluerov_sim" type="mixer.py" />

</launch>